.acTxt {color: black; text-align: center; text-decoration: underline; font-size: 14pt; font-weight: bold;}
#acMotto {color: #ff2929; text-align: center; font-style: italic; font-size: 12pt;}
#acPic {padding: 20px; border: 1px solid black;}