.adminLink {color: #ffffff; background: #006aff; text-align: center; border: 2px solid #0026ce; border-radius: 5px; padding-left: 30px; padding-right: 30px; font-size: 17pt;}
.adUser {background: #afafaf; border: 2px solid #999999; text-align: center; color: blue; width: 250px;}
.adForm {text-align: center; background: #aaaaaa; border: 3px solid #777777;}