.wrap {padding-left: 90px;}
.pair {padding: 20px; background: #dddddd; border: 2px solid #aaaaaa; width: 700px;}
.term {color: #000099; font-size: 19pt; font-weight: bold; text-decoration: underline;}
.deff {color: black; font-size: 13pt;}
p {text-align: left; text-indent: 30pt;}